<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Subject</title>
    <% include ../../partials/css.ejs %>
        <style>
            .form_bg {
                background: #f1f1f1;
            }
        </style>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--Header Section-->
        <% include ../../partials/header.ejs %>
            <!-- Left side column. contains the logo and sidebar -->
            <% include ../../partials/navbar.ejs %>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container" style="background:#f1f1f1;margin-bottom:60px"><br><br>
                            <p>Home - <span><a>Notice Board</a></span></p>
                            <div class="row">
                                <div class="col-md-4" style="background:#f1f1f1;margin-left:10px;margin-bottom:30px">
                                    <div class="row">
                                        <div class="col-md-12" style="background:white;margin-bottom:2px;">
                                            <label>
                                                <h4 style="font-weight:bold">Create Notice</h4>
                                            </label>
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn_cur glyphicon glyphicon-ok"
                                                    style="color:green;background:white"></button>
                                                <button type="button"
                                                    class="btn btn_refresh glyphicon glyphicon-refresh"
                                                    style="color:green;background:white"></button>
                                                <button type="button" class="btn btn_save glyphicon glyphicon-remove"
                                                    style="color:red;background:white"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="background:white">
                                            <form>
                                                <div class="form-group"><br>
                                                    <label for="title">Title</label>
                                                    <input type="text" class="form-control form_bg" id="title"
                                                        name="title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="details">Details</label>
                                                    <input type="text" class="form-control form_bg" id="details"
                                                        name="details">
                                                </div>
                                                <div class="form-group">
                                                    <label for="posted_by">Posted By</label>
                                                    <input type="text" class="form-control form_bg" id="posted_by"
                                                        name="posted_by">
                                                </div>
                                                <div class="form-group">
                                                    <label for="date">Date</label>
                                                    <input type="date" class="form-control form_bg" id="date"
                                                        name="date"><br>
                                                    <button type="button" class="btn btn-lg btn_submit"
                                                        style="color:white;background:#f6bd0bd6;margin-left:10px">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7" style="background:#f1f1f1;margin-left:30px;">
                                <div class="row">
                                    <div class="col-md-12" style="background:white;margin-bottom:2px;">
                                        <label>
                                            <h4 style="font-weight:bold">Notice Board</h4>
                                        </label>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn_cut glyphicon glyphicon-ok"
                                                style="color:green;background:white"></button>
                                            <button type="button" class="btn btn_refresh glyphicon glyphicon-refresh"
                                                style="color:green;background:white"></button>
                                            <button type="button" class="btn btn_save glyphicon glyphicon-remove"
                                                style="color:red;background:white"></button>
                                        </div>
                                    </div>
                                </div>
                                <% if(noticeList && noticeList.length>0){
                                    for (var i=0; i< noticeList.length;i++){%>
                                        <div class="row" style="background:white; font-weight:bold">
                                            <div class="notice_div" style="margin-left:10px; "><br>
                                                <button type="button" class="btn btn-sm btn_delete btn-danger
                                                glyphicon glyphicon-trash pull-right" id="delete_notice"
                                                   value="<%=noticeList[i]._id%>"></button>
                                                <strong style="font-size:16px;"><%= noticeList[i].date %></strong><br>
                                                <strong style="color:blue"><%= noticeList[i].posted_by %><span class="badge"
                                                        id="time" style="background:white;color:#e9cfcf">8 mins
                                                        ago</span></strong>
                                                <p style="color:#b9abab"><%= noticeList[i].details %></p>
                                                <hr>
                                            </div>
                                        </div>
                                        <%}} else {%>
                                            <div>
                                                <h4>No record found</h4>
                                            </div>
                                            <%}%>
                            </div>
                        </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $(document).on("click", ".btn_submit", function () {
                            var title = $("#title").val();
                            var details = $("#details").val();
                            var posted_by = $("#posted_by").val();
                            var date = $("#date").val();
                            var data = {
                                title: title,
                                details: details,
                                posted_by: posted_by,
                                date: date,
                            }
                            $.ajax({
                                url: "/notice-data",
                                type: "POST",
                                data: data,
                                success: function (res) {
                                    if (res.success) {
                                        alert(res.success);
                                        window.location.reload();
                                    } else if (res.error) {
                                        alert(res.error);
                                        window.location.reload();
                                    }
                                },
                            });
                        })
                    })
                    $(document).ready(function () {
                        $(document).on("click", ".btn_delete", function () {
                            var check = confirm("Are you sure want to delete this?");
                            if (!check) {
                                return;
                            }
                            var id = $(this).val();
                           console.log("id-->",id);
                            $.ajax({
                                url: "/notice-delete",
                                type: "POST",
                                data: {id: id},
                                success: function (res) {
                                    if (res.success) {
                                        alert(res.success);
                                        window.location.reload();
                                    } else if (res.error) {
                                        alert(res.error);
                                        window.location.reload();
                                    }
                                },
                            })
                        })
                    });
                </script>

                </section>
    </div>
    <% include ../../partials/scriptsAdmin.ejs %>
</body>

</html>