<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Subject</title>
    <% include ../../partials/css.ejs %>
    <style>
        body {
            background: #f1f1f1;
        }

        .form-control {
            background-color: #f1f1f1;
        }

        .form {
            background: white;
        }
        .fa{
            cursor: pointer;
        }
        .table_wrap{
            min-height:350px;
        }
      
        .form-control {
            background-color: #f1f1f1;
        }

        .form {
            background: white;
        }
        .fa{
            cursor: pointer;
        }
        .table_wrap{
            min-height:350px;
        }
        body {
            background: #f1f1f1;
        }

        .form-control {
            background-color: #f1f1f1;
        }

        .form {
            background: white;
        }
        .fa{
            cursor: pointer;
        }
        .table_wrap{
            min-height:350px;
        }
    </style>

</head>

<body class="hold-transition skin-blue sidebar-mini" >
    <div class="wrapper">
      <!--Header Section-->
      <% include ../../partials/header.ejs %>
      <!-- Left side column. contains the logo and sidebar -->
      <% include ../../partials/navbar.ejs %>
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3 mb-3" id="Home">
                        <lable>Home - </lable><a>
                            <lablel style="color:cornflowerblue">Subject</lablel>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="bg-white p-2">
                        <h5><strong>Create A New Subject</strong>
                            <i class="fa fa-angle-down " style="color: yellow"></i>
                            <i class="fa fa-refresh " style="color: green"></i>
                            <i class="fa fa-close" style="color: red"></i>
                        </h5>
                        <form id="studentform">
                        <div class="form-group">
                            <label for="subjectname">Subject Name</label>
                            <input required type="text" class="form-control" Name="subject_name">
                            
                            </div>
                        <div class="form-group">
                            <label for="subjtype">Subject Type</label> 
                             <input required type="text" class="form-control"Name="subject_type">
                            </div>
                        <div class="form-group">
                            <label for="subjclass">Subject Class</label>
                            <input required type="text" class="form-control"Name="subject_class">
                           
                        </div>
                        <div class="form-group">
                            <label for="subcode">Subject Code</label>
                            <input required type="text" class="form-control"Name="subject_code">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </div>
                        </form></div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="bg-white p-2 table_wrap">
                <h5><strong>All Subjects</strong>
                    <i class="fa fa-angle-down pull-right" style="color: yellow"></i>
                    <i class="fa fa-refresh pull-right" style="color: green"></i>
                    <i class="fa fa-close pull-right" style="color: red"></i>
                </h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Name</th>
                                    <th>Subject Type</th>
                                    <th>Class</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                   </table>
                </div>
                </div>
        
            </div>
            </div>
              
                <script>
                    $(document).ready(function(){
            $("#studentform").submit(function(e){
            e.preventDefault()
            let obj={}
            let fd=new FormData(e.currentTarget)
            fd.forEach((val,key)=>{
            obj[key]=val
            })
            console.log(obj)
            })
                    });
                </script>
            
         </section>
         </div>
    <% include ../../partials/scriptsAdmin.ejs %>
  </body>

</html>