<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student card list</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      @media print {
        @page {
          size: A4;
          margin: 0;
        }
        html,
        body {
          width: 210mm;
          height: 297mm;
        }
        /* ... the rest of the rules ... */
      }
      .customDiv {
        width: 100%;
        min-height: 300px;
        border: 2px solid black;
        box-shadow: black;
      }
    </style>
  </head>
  <body>
    <% for(var i=0;i< studentList.length;i++){%> <% include ./studentCard.ejs %>
    <%}%>
  </body>
  <script>
    //   $(document).ready(function(){

    //   })
  </script>
</html>
